<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row">
        <h5>Estimated Cost : </h5>
        <h2>{{$ctrl.cost.min}}$ - {{$ctrl.cost.max}}$</h2>
      </div>
      <div class="row" ng-if="!$ctrl.saleApplied">
        <div class="col-xs-12 alert alert-success">
          Apply one of our awesome discounts
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-default btn-lg" ng-click="$ctrl.setSale(1)">new user</button>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-default btn-lg" ng-click="$ctrl.setSale(2)">returning user</button>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-default btn-lg" ng-click="$ctrl.setSale(3)">non-profit discount</button>
        </div>
      </div>
      <div class="row" ng-if="$ctrl.saleApplied">
        <h5>Estimated Cost after discount : </h5>
        <h2>{{$ctrl.sale.min}}$ - {{$ctrl.sale.max}}$</h2>
        <div class="col-xs-6 col-xs-push-3">
          <button type="button" class="btn btn-danger btn-lg" ng-click="$ctrl.cancelSale()">apply another sale</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-xs-push-3">
          <form action="https://formspree.io/mahmoudkhayralla@gmail.com" method="post">
            <div hidden="true">
              <input type="text" name="name" ng-model="$ctrl.contact.name">
              <input type="email" name="email" ng-model="$ctrl.contact.email">
              <input type="text" name="phone" ng-model="$ctrl.contact.phone">
              <input type="text" name="company" ng-model="$ctrl.contact.company">
              <input type="text" name="message" ng-model="$ctrl.contact.message">
              <input type="text" name="num_pages" ng-model="$ctrl.quote.page_num">
              <input type="text" name="design_style" ng-model="$ctrl.quote.design">
              <input type="text" name="compywriting_num_pages" ng-model="$ctrl.quote.cnp">
              <input type="text" name="SEO" ng-model="$ctrl.quote.seo">
              <input type="text" name="responsive_design" ng-model="$ctrl.quote.rd">
              <input type="text" name="db_integration" ng-model="$ctrl.quote.db">
              <input type="text" name="e_commerce" ng-model="$ctrl.quote.ec">
              <input type="text" name="cms" ng-model="$ctrl.quote.cms">
              <input type="number" name="minimum_cost" ng-model="$ctrl.cost.min">
              <input type="number" name="maximum_cost" ng-model="$ctrl.cost.max">
              <input type="number" name="minimum_cost_after" ng-model="$ctrl.sale.min">
              <input type="number" name="maximum_cost_after" ng-model="$ctrl.sale.max">

            </div>
            <input type="submit" class="btn btn-success btn-lg" value="send application details">

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
